.card {
    border: 1px solid black;
    width: 250px;
    height: 350px;
    background-color: #7d3636;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

.card__title {
    margin: 0 auto;
}

.card__title > h3 {
    color: white;
}

.card__body {
    background-color: #fa6c6c;
    border-radius: 5px;
    width: 90%;
    height: 70%;
    margin: 0 auto;
}

.card__stats{
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card__stats__type {
    color: white;
    font-weight: bold;
    background-color: coral;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
}